templates/bookAppointment.json
{
  "name": "bookAppointment",
  "version": 1,
  "nodes": [
    {
      "id": "Webhook_Book",
      "name": "Webhook (bookAppointment)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "{{WEBHOOK_PATH}}",
        "responseMode": "lastNode",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "OpenAI_Parse_Book",
      "name": "OpenAI (Parse Booking)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 4,
      "position": [520, 300],
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4o-mini",
        "systemMessage": "{{SYSTEM_PROMPT}}",
        "messages": "User: {{$json.body || $json.query || $json}}\n\nReturn JSON with keys: fullName, email, phone, service, date, startTime, durationMins."
      }
    },
    {
      "id": "GC_Create",
      "name": "Google Calendar (Create)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 3,
      "position": [840, 300],
      "parameters": {
        "operation": "create",
        "calendarId": "{{CALENDAR_ID}}",
        "start": "={{ $json.data && $json.data.date && $json.data.startTime ? $json.data.date + 'T' + $json.data.startTime : $now }}",
        "end": "={{ $json.data && $json.data.durationMins ? $jmespath({start: $json.data.date + 'T' + $json.data.startTime, dur: $json.data.durationMins}, 'start_time(@.start, `minutes`, @.dur)') : $jmespath($now, 'add_to_time(@, `PT60M`)') }}",
        "summary": "={{ $json.data && $json.data.service ? $json.data.service : 'Appointment' }}",
        "description": "={{ 'Booked via AI receptionist. Name: ' + ($json.data.fullName || '') + ', Email: ' + ($json.data.email || '') + ', Phone: ' + ($json.data.phone || '') }}",
        "options": {
          "timezone": "{{TIMEZONE}}",
          "sendUpdates": "all"
        }
      }
    },
    {
      "id": "Respond_Book",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1160, 300],
      "parameters": {
        "responseBody": "={{ { ok: true, booked: $json, calendarId: '{{CALENDAR_ID}}', timezone: '{{TIMEZONE}}' } }}",
        "responseCode": 200
      }
    }
  ],
  "connections": {
    "Webhook (bookAppointment)": {
      "main": [
        [
          { "node": "OpenAI (Parse Booking)", "type": "main", "index": 0 }
        ]
      ]
    },
    "OpenAI (Parse Booking)": {
      "main": [
        [
          { "node": "Google Calendar (Create)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Google Calendar (Create)": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "{{TIMEZONE}}"
  }
}
