templates/checkAvailability.json
{
  "name": "checkAvailability",
  "version": 1,
  "nodes": [
    {
      "id": "Webhook_Check",
      "name": "Webhook (checkAvailability)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "{{WEBHOOK_PATH}}",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "OpenAI_Parse",
      "name": "OpenAI (Parse Intent)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 4,
      "position": [520, 300],
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4o-mini",
        "systemMessage": "{{SYSTEM_PROMPT}}",
        "messages": "User: {{$json.body || $json.query || $json}}\n\nReturn JSON with keys: services[], dateRange.start, dateRange.end, durationMins."
      }
    },
    {
      "id": "GC_FreeBusy",
      "name": "Google Calendar (Get All)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 3,
      "position": [840, 300],
      "parameters": {
        "operation": "getAll",
        "calendarId": "{{CALENDAR_ID}}",
        "options": {
          "query": "",
          "timeMin": "={{ $json[\"data\"] && $json[\"data\"][\"dateRange\"] ? $json[\"data\"][\"dateRange\"][\"start\"] : $now }}",
          "timeMax": "={{ $json[\"data\"] && $json[\"data\"][\"dateRange\"] ? $json[\"data\"][\"dateRange\"][\"end\"] : $jmespath($now, 'add_to_time(@, `P14D`)') }}",
          "timezone": "{{TIMEZONE}}",
          "returnAll": true
        }
      }
    },
    {
      "id": "Respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1160, 300],
      "parameters": {
        "responseBody": "={{ { ok: true, timezone: '{{TIMEZONE}}', calendarId: '{{CALENDAR_ID}}', availability: $json } }}",
        "responseCode": 200
      }
    }
  ],
  "connections": {
    "Webhook (checkAvailability)": {
      "main": [
        [
          { "node": "OpenAI (Parse Intent)", "type": "main", "index": 0 }
        ]
      ]
    },
    "OpenAI (Parse Intent)": {
      "main": [
        [
          { "node": "Google Calendar (Get All)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Google Calendar (Get All)": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "{{TIMEZONE}}"
  }
}
